#microsoft
    padding: 60px 0
    .one
        width: 200px
        img
            cursor: pointer
    .two
        width: 150px
        img
            cursor: pointer
    .three
        width: 150px
        img
            cursor: pointer
    .four
        width: 100px
        img
            cursor: pointer
    @media screen and ( max-width: 576px )
        .imgbox
            margin-top: 50px

    @media ( min-width: 577px ) and ( max-width: 767px )
        .one
            margin: 25px 0
        .two
            margin: 30px 0
