#microsoft
    .one
        padding: 50px 30px
        img
            cursor: pointer
    .two
        padding: 50px 30px
        margin-left: 65px
        img
            cursor: pointer
    .three
        padding: 50px 30px
        margin-left: 65px
        img
            cursor: pointer
    .four
        padding: 50px 30px
        margin-left: 72px
        img
            cursor: pointer

    // @media ( min-width: 620px ) and ( max-width: 999px )

    //     flex-direction: column
    //     display: flex
